@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ============Estilo da nav- MOBILE FIRST =======*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
nav {
  background-color: #ffffffe0;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  
}

.logo {
  width: 75px;
  margin: 8px 0 5px 4px; 
}
#username {
  display:flex;
  font-size: 18px;
  padding: 20px;
  align-self: center;
  text-align: center;
  justify-content: center;

}
.btn-sair{
  width: 60px;
  height: 27px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;  
  margin-left: auto;
  background-color: #ffb55cb4;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  flex-shrink: 0;
}
.btn-sair:hover{
    background-color: #4c8bf98e;
    color: #fbfbfb;
}

/* cAAixa de comentário */

#commentsContainer{
  background-color: #ffffff;
  width: 600px;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55); 
}

#commentInput{
  background-color: #faf9f9;
  width: 86%;
  height: 130px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.btn-enviar{
  background-color: #ffb55cb4;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 1px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-left: 20px;
  
}

.btn-enviar:hover{
  background-color:#4c8bf98e ;
  color: #ffffff;
}

/* POSTS */

.posts{
  background-color: #ffffff;
  width: 550px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55); 
}

.comentario{
  width: 500px;
  height: 130px;
  border: 1px solid #00000093;
  background-color: rgba(224, 224, 224, 0.14);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.barra{
  background-color: #a5c2f5bc;
  height: 40px;
}

.usuario{
  margin-left: 3px;
}

.data{
  margin-left: 460px;
  font-size: 12px
}

.btn-edit,
.btn-delete {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  left: 370px;
  transition: transform 0.3s;
  display: inline-block;
}


  .btn-like {
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
    margin-left: 20px;
    transition: transform 0.3s;
    display: inline-block;
  }

  .btn-edit:hover,
  .btn-delete:hover,
  .btn-like:hover {
    transform: scale(1.5);
  }
  
 @media screen and (max-width: 768px) {
  .logo {
    margin-left: 5%;
  }
  .nav {
    width: 100vw;
  }
  .btn-enviar {
    margin-left: 5px;
  }
    
  #commentsContainer {
      
    width: 550px;
    height: 200px;
    margin: 20px auto;
    padding: 13px;
  }
    
  #commentInput {
    width: 90%;
    height: 140px;
    margin: 10px auto;
    padding: 10px;
  }
 
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #username {
    display:flex;
    font-size: 20px;
    padding: 20px;
    align-self: center;
    text-align: center;
    justify-content: center;
    margin-left: 25vw;
  
  }
}
@media screen and (min-width: 1023px) {
  #username {
    display:flex;
    font-size: 20px;
    padding: 20px;
    align-self: center;
    text-align: center;
    justify-content: center;
    margin-left: 35vw;
  
  }
  .logo {
    width: 100px;
    margin: 8px 0 5px 4px; 
  }
}

