@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-elements {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerRegister {
  position: relative;
  width: 400px;
  height: auto;
  background-color: #ffffff;
  border: 3px inset #6f6f6f93;
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55); */
  padding: 40px;
  left: 40px;
  bottom: 5px;
}

.logoPetRegister {
  position: relative;
  width: 150px;
  bottom: 15px;
  left: 85px;
}

/* texto cadastro de usuário */
.register-h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.dados {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* não sei */
.inputSignIn {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  border-radius: 15px;
}

/* não sei */
.inputGroup {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 65%;
  transform: translateY(-50%);
}

.material-icons {
  vertical-align: middle;
}

.btn-reg,
.btn-return {
  background-color: #F6BA6F;
  color: black;
  width: 100%;
  height: 35px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
}

.btn-return {
  margin-bottom: 20px;
}

.btn-return:hover,
.btn-reg:hover {
  background-color: #4473c4da;
  color: rgb(255, 255, 255);
} 

/* style error */
#error-container-name,
#error-container-email,
#error-container-password,
#error-container-confirm {
  color: red;
  font-style: italic;
}

ul {
  list-style-type: none;
  font-size: 12px;
}

/* Media queries */
@media (max-width: 1024px) {
  .containerRegister {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .containerRegister {
    padding: 20px;
    left: 0;
    right: 0;
  }

  .logoPetRegister {
    left: 50%;
    transform: translateX(-50%);
  }
}