@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/comunicacao.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.429);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55);
  padding: 20px;
  margin-top: -60px;
}

.logoW {
  width: 70%;
  margin-bottom: 10px;
  margin-left: 15%;
}

.introSignIn {
  margin-top: 20px;
  font-size: 1.8rem;
  margin-bottom: 35px;
}

.label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.inputSignIn {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  border-radius: 15px;
}

.inputGroup {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.material-icons {
  vertical-align: middle;
}
.textOu {
  text-align: center;
  padding: 15px;
  
}
.btnSignIn,
.btnGoogle,
.btnGitHub {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
}

.btnGitHub {
  margin-bottom: 20px;
}

.btnRegister{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0421548e;
  /* text-decoration: underline; */
  font-size: 24px;
  cursor: pointer;
  
}
.btnRegister:hover {
  color: #ED7D31;
  
}
.btnGoogle,
.btnGitHub {
  background: linear-gradient(to right, #ed7c319e, #4473c48e);
  color: #060606;
}

.btnGoogle:hover,
.btnGitHub:hover {
  background-color: #4473c48e;
  color: #fbfbfb;
}

.active {
  color: #fff;
  background: linear-gradient(to right, #4472c4, #ED7D31);
  backdrop-filter: blur(2px);
}
.active:hover {
  /* background-color: #4473c48e; */
  color: #060606;
}

.img-google {
  width: 25px;
  vertical-align: middle;
  margin-right: 2px;
}

.img-github {
  width: 25px;
  vertical-align: middle;
  margin-right: 2px;
}
.petIcon {
  padding: 5px;
}