@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(http://t1.gstatic.com/images?q=tbn:ANd9GcTuyuZHfMG2MZ2sY2LXBfQAhGkKBT7VEThGykERAyFb-TrHfy3R);
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
}

.container-img-animals {
  position: relative;
  background-color: #a7caee;
  border: 2px inset #6f6f6f93;
  border-radius: 10px;
  justify-content: center;
  width: 880px;
  height: 600px;
  right: 100px;
}

.img-animals {
  position: relative;
  display: flex;
  justify-content: top;
  width: 400px;
  top: 100px;
  left: 140px;
}

.sobre-petChat {
  position: relative;
  text-align: justify;
  top: 120px;
  left: 130px;
  width: 80vw;
  max-width: 450px;
  height: auto;
}

.containerWelcome {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: #fff;
  border: 3px inset #6f6f6f93;
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55); */
  padding: 40px;
  left: 680px;
  bottom: 345px;
}


/* logo petchat */
.logoPetWelcome {
  width: 145px;
  margin-top: 4px;
  margin-bottom: 7px;
  margin-left: 27%;
}

/* texto bem vindo ao petchat
.introSignIn {
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 35px;
} */

/* nomes do inputs */
.label {
  display: block;
  font-size: 1rem;
  margin-top: 20px;
  font-weight: bold;
}

/* não sei */
.inputSignIn {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  border-radius: 15px;
}

/* não sei */
.inputGroup {
  position: relative;
}

/* não sei */
.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* não sei */
.material-icons {
  vertical-align: middle;
}

/* -------ou-------- */
.textOu {
  text-align: center;
  padding: 15px;
}

/* botões */
.btnSignIn,
.btnGoogle,
.btnGitHub {
  background: linear-gradient(to right, #8bbff2, #78a0f1);
  color: #060606;
  width: 100%;
  margin-top: 17px;
  padding: 8px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
}

/* altura botão GitHub */
.btnGitHub,
.btnGoogle {
  width: 43%;
  height: 40px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-right: 1px;
  margin-left: 12px;
  margin-top: 3px;
}



/* botão criar uma conta */
.btnRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0421548e;
  /* text-decoration: underline; */
  font-size: 24px;
  cursor: pointer;

}

.btnRegister:hover {
  color: #ED7D31;
}

.btnGoogle:hover,
.btnGitHub:hover {
  background-color: #4473c48e;
  color: #fbfbfb;
}

/* sombreamento botão sign in */
.active {
  color: #000000;
  background: linear-gradient(to right, #F6BA6F, #F6BA6F);
  backdrop-filter: blur(2px);
}

.active:hover {
  /* background-color: #4473c48e; */
  color: #ffffff;
}

.img-google {
  width: 25px;
  vertical-align: middle;
  margin-right: 2px;
}

.img-github {
  width: 25px;
  vertical-align: middle;
  margin-right: 2px;
}

.petIcon {
  padding: 5px;
}